[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/SDL2"]
	path = lib/SDL2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/minimp3"]
	path = lib/minimp3
	url = https://github.com/lieff/minimp3.git
[submodule "lib/utfcpp"]
	path = lib/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/ImGuizmo"]
	path = lib/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
