[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/SDL2"]
	path = lib/SDL2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/minimp3"]
	path = lib/minimp3
	url = https://github.com/lieff/minimp3.git
[submodule "lib/utfcpp"]
	path = lib/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/lua/lua.git
[submodule "lib/reproc"]
	path = lib/reproc
	url = https://github.com/DaanDeMeyer/reproc.git
[submodule "lib/implot"]
	path = lib/implot
	url = https://github.com/epezent/implot.git
[submodule "lib/ImGuizmo"]
	path = lib/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "lib/bitsery"]
	path = lib/bitsery
	url = https://github.com/fraillt/bitsery.git
[submodule "lib/tracy"]
	path = lib/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "lib/EASTL"]
	path = lib/EASTL
	url = https://github.com/electronicarts/EASTL.git
