.vs
.cache
build
build_app
out
bin
*.zip
*.7z
Logo.xcf
Logo.png
vs_sln
CMakeSettings.json
LogoOFP.xcf
OFP.png
TODO.txt
.vscode/settings.json
remedy.rdbg
localization/__pycache__
localization/xmnjvfk.py
localization/localization_ja.csv
localization/localization_ja_missing.csv
localization/localization_bak2.csv
localization/.~lock.localization.csv#
LuaDox/html
emscripten
lib/glad2_ogl_3_3
lib/glad2_debug
coi-serviceworker.min.js
.vscode/c_cpp_properties.json
lib/opencv
